<h2>Add Product</h2>

<ul *ngIf="formSubmitted">
  <li *ngIf="myForm.get('name')?.errors?.['required']"> Le nom est obligatoire, merci</li>
  <li *ngIf="myForm.get('description')?.errors?.['required']"> La description est obligatoire, merci</li>
  <li *ngIf="myForm.get('description')?.errors?.['minlength']"> La description est trop courte, merci</li>
</ul>

<form [formGroup]="myForm" (ngSubmit)="onSumbit()">
  <div>
    <label for="theName">Name</label>
    <input type="text" id="theName" formControlName="name">
  </div>
  <div>
    <label for="theCategory">Category</label>
    <input type="text" id="theCategory" formControlName="category">
  </div>
  <div>
    <label for="theDescription">Description</label>
    <input type="text" id="theDescription" formControlName="description">
  </div>
  <div>
    <label for="thePrice">Price</label>
    <input type="text" id="thePrice" formControlName="price">
  </div>
  <div>
    <label for="thePromo">Promo</label>
    <input type="text" id="thePromo" formControlName="promo">
  </div>
  <div>
    <label for="theActive">Active</label>
    <input type="checkbox" id="theActive" formControlName="active">
  </div>
  <div formGroupName="supplier">
    <label for="theSupplier">Supplier</label>
    <select  id="theSupplier" formControlName="id">
      <option [value]="s.id" *ngFor="let s of suppliers">{{s.companyName}}</option>
    </select>
  </div>
  <button>OK</button>
</form>

<pre>

  {{myForm.value| json}}
</pre>
