<h1>Détail du produit {{currentProduct?.name}} ({{currentProduct?.id}})</h1>
<p>{{currentProduct?.description}}</p>

<ul>
  <li>{{currentProduct?.category}}</li>
  <li>{{currentProduct?.price}}</li>
  <li>{{currentProduct?.promo}}</li>
</ul>
<div (click)="displayDeleteConfirm = true" class="defaultLink">Supprimer le produit?</div>
<div *ngIf="displayDeleteConfirm">
  <span (click)="deleteForReal()" class="defaultLink">Oui</span>&nbsp;
  <span class="defaultLink" (click)="displayDeleteConfirm = false">Non</span>
</div>


<span routerLink="/products" class="defaultLink">Retour à la liste</span>
